body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
}
input[type="text"], select{
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:hover {
    background-color: #45a049;
}

/* Styling for question page */
.question {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 4px;
}

.question p {
    font-weight: bold;
    margin-bottom: 5px;
}
/* Multiple Choice Options */
.options-container {
    display: flex;
    flex-direction: column;
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.option input[type="radio"] {
  margin-right: 10px;
}

/* Loading Indicator Style */
#loading-indicator {
    position: fixed; /* Fixed position to stay in view */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000; /* Make sure it's on top of other elements */
}
